/****** Script for SelectTopNRows command from SSMS  ******/
SELECT DISTINCT a.[evnt]
      ,a.[fname]
      ,a.[lname]
      ,a.[part_cons_id]
      ,a.[rec_date]
      ,a.[gift_amt]
      ,a.[reg_date]
      ,DATEDIFF(dd,a.[reg_date],a.[rec_date]) age
      ,a.[self]
      ,a.[don_fname]
      ,a.[don_lname]
      ,a.[don_cons_id]
      ,a.[origin1]
      ,a.[origin2]
      ,a.[media1]
      ,a.[rfi1]
      ,a.[media2]
      ,a.[rfi2]
      ,a.[part_type]
      ,a.[rfi_call1]
      ,a.[rfi_call2]
      ,a.[rfi_call3]
      ,a.[rfi_call4]
      ,a.[reg_hb_sent]
      ,a.[support_cycle]
      ,a.[welcome_call]
      ,a.[support_call1]
      ,a.[support_call2]
      ,a.[support_call3]
      ,a.[coach]
      ,a.[support_call4]
      ,a.[support_call5]
      ,a.[support_call6]
      ,a.[ambassador_level]
      ,a.[rfi_call0]
  FROM [CFScott].[dbo].[first_donation_age] a INNER JOIN
  [CFScott].[dbo].[first_donation_single] b on a.[evnt] = b.[evnt]
  and a.[rec_date] = b.[rec_date] and a.[part_cons_id] = b.[part_cons_id]
  and b.[part_cons_id] <> [don_cons_id] and DATEDIFF(dd,a.[reg_date],a.[rec_date])>0