/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Run_Date]
      ,[Event_Code]
      ,[Event_Name]
      ,[RFI]
      ,[Walker]
      ,[Rider]
      ,[Crew]
      ,[Reg_Amt]
      ,[Donations_Amt]
  FROM [CFScott].[dbo].[ops_report_test]